/* Mobile-first reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Garamond', 'Georgia';
  background: linear-gradient(to bottom right, #000000, #1a0000, #330000, #4d0000);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.portada {
  width: 90%;
  max-width: 400px;
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #555;
}

.botones button {
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  font-size: 25px;
  font-family: 'Garamond', 'Georgia', serif;
  border: none;
  border-radius: 8px;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botones button:hover {
  background-color: #e63946;
}


/* Responsive for tablets and up */
@media (min-width: 600px) {
  .portada {
    padding: 40px;
  }

  h1 {
    font-size: 28px;
  }

  .botones button {
    font-size: 25px;
  }
}
