/* Mobile-first reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Garamond', 'Georgia';
  background: linear-gradient(to bottom right, #000000, #1a0000, #330000, #4d0000);
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.portada {
  width: 90%;
  max-width: 400px;
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}


#listaJugadores li {
  margin-bottom: 10px;
  letter-spacing: 2px;
}



.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  padding: 40px 20px;
  gap: 40px;
}


h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #555;
}


.nombre-jugador {
  background-color: #ffffff;
  color: #000000;
  font-size: 28px;
  font-family: 'Garamond', 'Georgia', serif;
  padding: 16px 24px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(255, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  margin: 40px auto;
}


.boton-desactivado {
  opacity: 0.5;
  pointer-events: none;
}


.panel-jugadores {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Garamond', 'Georgia', serif;
  padding: 20px 30px;
  border-radius: 14px;
  box-shadow: 0 0 12px rgba(255, 0, 0, 0.2);
  max-width: 600px;
  margin: 40px auto;
  text-align: left;
  margin-bottom: 16px; /* Espacio entre el título y la lista */
}

.panel-jugadores h3 {
  margin-top: 16px; /* Espacio desde el título */
  font-size: 28px;
  margin-bottom: 20px;
  color: #e63946;
}

#listaJugadores {
  list-style: none;
  padding: 0;
  font-size: 22px;
}

#listaJugadores li {
  margin-bottom: 10px;
}




.botones button {
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  font-size: 25px;
  font-family: 'Garamond', 'Georgia', serif;
  border: none;
  border-radius: 8px;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botones button:hover {
  background-color: #e63946;
}


/* Responsive for tablets and up */
@media (min-width: 600px) {
  .portada {
    padding: 40px;
  }

  h1 {
    font-size: 28px;
  }

  .botones button {
    font-size: 25px;
  }
}
